.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---------- Retrieval Bar ----------------- */

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* SearchPanel.css */
.search-panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.search-options, .search-query, .query-options {
  display: flex;
  margin-bottom: 10px;
}

.search-options button,
.search-query button,
.query-options button {
  margin-right: 5px;
}

/* ImageGallery.css */
.image-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ImageCard.css */
.image-card {
  margin: 10px;
  text-align: center;
}
.image-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
