ul, ol{
    margin: 0;
}

.custom-modal {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 500px;
    max-width: 80%;
    max-height: 80%; 
    position: fixed;
    top: 10%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    /* transition: all 0.5s ease; */
}

.custom-modal.expanded {
    opacity: 1;
    /* transition: all 0.5s ease; */
    transform: translate(-50%, -50%) scale(1);
  }
  
  .custom-modal.minimized {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
    pointer-events: none;
    /* transition: all 0.5s ease; */
  }
  
  .custom-modal-header,
  .custom-modal-footer {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
  }
  
  .custom-modal-header {
    cursor: move; 
  }
  
  .custom-modal-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto; 
    max-height: calc(100% - 80px); 
}
.minimized-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    /* background-color: #007bff; */
    color: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    /* transition: all 0.5s ease; */
  }

  .image-col-stage-1{
    flex: 0 0 calc(100% / 6); /*6 images in a row for 2 stages and 3 stages*/
    padding: 1rem;
  }
  .image-col-stage-2{
    flex: 0 0 calc(100% / 8); /*8 images in a row for 4 stages*/
    padding: 1rem;
  }
  .image-col-stage-3{
    flex: 0 0 calc(100% / 5); /*5 images in a row for 5 stages*/
    padding: 1rem;
  }

  .group-3-img{
    padding: '0px';
    flex-basis: '25%'; 
    max-width: '25%' ;
  }
  .group-3{
    border: 2px dashed #ff0000;
    padding: 0.5rem;
    border-radius: None;
  }